.color {
    color:rgba(0,0,0,.45)
}
.none {
    display:none;
    margin:0 !important;
}
.card_public {
    .ant-card-body {
        background-color: white !important;
    }
    .ant-card-head {
        margin: 0;
    }
    .ipt {
        width: 48px;
        margin: 0 6px;
    }
}