.flex {
    display: flex;
}
.align {
    align-items: center;
}
.justify {
    justify-content: center;
}
.account-card___18oya {
    background: url(//s.yezgea02.com/lingling-h5/static/account-banner-bg.png) 50% 50% no-repeat;
    background-size: cover;
    padding: 16px 18px;
    color: #fff;
}
#root {
    height:100vh
}